<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="APPID" value="ENTER YOUR API ID" />
    <add key="cityID" value="ENTER YOUR CITY ID" />
  </appSettings>
</configuration>